*{
    margin: 0;
    box-sizing: border-box;
}

.app-header{
    height: 0%;
    background-image: url(./img/pattern.png);
    background-repeat: 7;
    background-color: rgb(65, 154, 226);
    background-size: 35%;

}
#logo{
    margin-top: 40px;
    width: 150px;
}

#title {
    font-size: 20px;
}

.greytext{
    color: rgb(103, 99, 110);
}

#thebooleaners{
    color: rgb(93, 189, 233);
}

.credits{
    font-size: 12px;
}